@charset "utf-8";

/*フォーム全体*/
#form1{
position:relative;/*フォームの相対位置*/	
max-width:100px;/*フォームのサイズ*/
margin-bottom:15px;/*フォームの下に余白*/	 	
}
/*検索ボックス*/
#sbox{
position:absolute;/*フォームの絶対位置*/	
left:0;
top:0; 	
outline:0;/*クリック時の青い枠線消す*/	
height:25px;/*検索ボックスの高さ*/	
padding:0px;/*テキスト位置調整*/	 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#eee;/*検索ボックスの背景カラー*/		
}
/*検索ボタン*/
#sbtn{
width:70px;/*検索ボタンの横幅*/ 
height:25px;/*検索ボタンの縦幅*/ 
position:absolute;/*検索ボタンの絶対位置*/  
left:175px;/*検索ボタンの位置調整*/  
top:0;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#7fbfff;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}
table {
    margin-left: auto;
    margin-right: auto;
}

/* th{
  color:white; 文字色
  background-color: #2196f3; 背景色
} */


/* テーブルデザイン */
.design04 {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.design04 tr:nth-child(2n+1) {
 background: #e9faf9;
}
.design04 th {
 padding: 10px;
 background: #778ca3;
 border-right: solid 1px #778ca3;
 color: #ffffff;
}
.design04 th:last-child {
 border-right: none;
}
.design04 td {
 padding: 10px;
 border-right: solid 1px #778ca3; 
}
.design04 td:last-child {
 border-right: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1 {
	font-size: 1.5em;
    text-align: center;
    color: rgb(128, 128, 128);
}
.message{
	text-align: center;
	color: rgb(241, 127, 127);
}
.mainvisual {
    height: 80vh;
    background-image: url(book.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-wrapper {
    background-color: rgb(255, 255, 255);
    
    max-width: 500px;
    width: 100%;
}

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    border: none;
    border-bottom: 2px solid #e9e9e9;
    width: 100%;
    height: 50px;
    font-size: 1em;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.button-panel {
    width: 100%;
}

.button-panel .button {
    background: #62a5f1;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #3e5eee;
}

.button-panel .button2 {
    background: rgb(194, 238, 150);
    border: none;
    color: #fff;
    height: 30px;
    font-size: 1em;
    text-align: center;
    width: 100px;
    border-radius: 25px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.button2:hover {
    background: rgb(190, 245, 135);
}
.button-panel .button5 {
    background:#0080ff;
    border: none;
    color: #fff;
    height: 30px;
    font-size: 1em;
    text-align: center;
    width: 100px;
    border-radius: 25px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.button5:hover {
    background: #0000ff;
}


.form-footer {
    font-size: 1em;
    padding: 2em 0;
    padding-bottom: 0px;
    text-align: center;
}

.form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}
header {
    height: 10vh;
    background-color: rgb(255, 255, 128);
    color: #fff;
 }
 
 header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width:100%;
 }
 
 header ul {
 	width:20%;
    display: flex;
 }
 
 header li {
    padding: 0 20px;
 }
 li {
   list-style: none;
}
#form ul{
	display:flex;
}
#form li{
	margin:auto auto;
}
#form2 ul{
	display:flex;
}
#form2 li{
	margin:auto auto;
}
.form-wrapper2 {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    width: 100%;
    margin-top:20px;
    margin-bottom:30px;
}
.form-wrapper2 h1{
	font-size: 1.5em;
    text-align: center;
    color: rgb(161, 151, 151);
}
.form-wrapper2 .button-panel{
	text-align:center;
}
.design {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.design tr:nth-child(2n+1) {
    background: #e9faf9;
}

.design th {
    padding: 10px;
    background: #778ca3;
    border-right: solid 1px #778ca3;
    color: #ffffff;
}

.design th:last-child {
    border-right: none;
}

.design td {
    padding: 10px;
    border-right: solid 1px #778ca3;
}

.design2 {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.design2 tr:nth-child(2n+1) {
    background: #e9faf9;
}

.design2 th {
    padding: 10px;
    background: #fff;
    border-right: solid 1px #778ca3;
    color: #0a0a0a;
}

.image {
    width: 8%;
    background: #fff;
    border-right: solid 1px #778ca3;
}
.title {
    width: 42%;
    background: #fff;
    border-right: solid 1px #778ca3;
}

.author {
    width: 10%;
    background: #fff;
    border-right: solid 1px #778ca3;
}

.price {
    width: 5%;
    background: #fff;
    border-right: solid 1px #778ca3;
}

.date {
    width: 10%;
    background: #fff;
    border-right: solid 1px #778ca3;
}

.status {
    width: 15%;
    background: #fff;
    border-right: solid 1px #778ca3;
}
.add {
    width: 10%;
    background: #fff;
    border-right: solid 1px #778ca3;
}
.button-panel .button2 {
    background: rgb(255, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 1em;
    text-align:center;
    width: 100px;
    border-radius: 25px;
    
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-right: 15px;
    /* transform: translateX(-50%); */
}
.button-panel .button4 {
    background: rgb(255, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 1em;
    text-align:center;
    width: 100px;
    border-radius: 25px;
    
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-right: 5px;
    transform: translateX(-50%);
}
.button2:hover {
    background: rgb(255, 128, 192);
    }
.button4:hover {
    background: rgb(255, 128, 192);
    }
