@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ffffff;
}

p{
	color:black;
	font-size: 1em;
	
}
.font p{
	text-align: center;
	color: #fc748b;
}



header {
    height: 10vh;
    background-color: #ffff80;
    color: #808080;
 }
 
 header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    width:100%;
 }
  .inner h1{
 width:80%;
 }
 header ul {
  width:20%;
    display: flex;
 }
 
 header li {
    padding: 0 5px;
 }
 li {
   list-style: none;
}
.mainvisual {
    height: 80vh;
    background-image: url(book.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-wrapper {
    background-color:white;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    max-width: 370px;
    width: 100%;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
} 

.form-item {
    margin-bottom: 0.75em;
    width: 100%;
}

.form-item input {
    border: none;
    border-bottom: 2px solid #e9e9e9;
    /* width: 100%; */
    /* height: 50px; */
    font-size: 1em;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.button-panel {
    width: 100%;
}
 
.button-panel .button {
    background: #62a5f1;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background: #3e5eee;
}.button-panel .button2 {
    background: rgb(255, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 1em;
    text-align:center;
    width: 100px;
    border-radius: 25px;
    
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-right: 5px;
    transform: translateX(-50%);
}
.button2:hover {
    background: rgb(255, 128, 192);
    }
.button-panel .button4 {
    background: rgb(255, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 1em;
    text-align:center;
    width: 100px;
    border-radius: 25px;
    
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-right: 5px;
    transform: translateX(-50%);
}
   .button4:hover {
    background: rgb(255, 128, 192);
    }


.button-panel .button3 {
    background:#0080ff;
    border: none;
    color: #ffffff;
    height: 25px;
    font-size: 15px;
    text-align:center;
    width: 80px;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
/*     margin-left: 50%;
    transform: translateX(-50%); */
}
.button3:hover {
    background: #0000ff;
}
